    
    <%- include("contact_submit"); %>
    
    <div class="wave-footer-section">
            <div class="wave wave1"></div>
            <!-- <div class="wave wave2"></div> -->
    </div>
    <div class="contact-area" style= "background-color: #000030">
      <div class="container text-center">
        <div class = "contact-titles">
          <h3> Send Me a Message </h3>
        </div>
        <div class="spacer">
        <form id="contact-form">
          <div class="form-group">
            <label for="email">Email address</label>
            <input type="text" class="form-control" id="email" placeholder="What's your email address?">
          </div>
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" placeholder="What's your name?">
          </div>
          <div class="form-group">
            <label for="comment">Comment:</label>
            <textarea class="form-control" rows="5" id="comment" placeholder="Leave your message here."></textarea>
          </div>
          <button type="submit" class="btn btn-outline-light">Submit</button>
        </form>
      </div><!--/.container-->
      <div class="container hidden-sm hidden-xs">
        <div class="spacer">
      </div>
      <div class="spacer"></div>
        <footer>
          <p> </p>
          <small style="color:#323c57">Made by Rhosung Park</small>
        </footer>
      </div>
    </div><!--/.work-together-->
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/javascripts/main.js"></script>
</body>
</html>