<!DOCTYPE html>
<html>
    <head>
        <title> Rhosung Park </title>
        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Arbutus+Slab&family=Bangers&family=Bowlby+One&family=Bowlby+One+SC&family=Bungee&family=Chango&family=Chewy&family=Lilita+One&family=Notable&family=Racing+Sans+One&family=Reenie+Beanie&family=Rubik+Mono+One&display=swap" rel="stylesheet">
        <link href="/style.css" rel="stylesheet" >
        <link rel="icon" href="/assets/images/rho_favicon.ico">
    </head>
    <body class="text-center">
        <nav class="navbar" role="navigation" aria-label="main navigation" style="background-image: linear-gradient(to right, #3586ff, #a1c7ff)"><!--background-image: linear-gradient(to right, #3586ff, #a1c7ff)  -->
            <div class="container">
                <div class="navbar-brand">
                    <a class="navbar-item" href="/">
                        <img src="/assets/images/rhosung-logo-thinner.png" height="30" style="margin-top:10px">
                    </a>
                </div>
                <img src="/assets/images/hamburger.png" height="30" id = "hamburger">
            </div>
            
            <div class = "nav-menu">
                <div class="row">
                    <div class = "col-md-4">
                        <a href="/">
                            <div class = "nav-menu-item">
                                <p>Home</p>
                            </div>
                        </a>
                    </div>
                    <div class = "col-md-4">
                        <a href="/work">
                            <div class = "nav-menu-item-2">
                                <p>Work</p>
                            </div>
                        </a>
                    </div>
                    <div class = "col-md-4">
                        <a href="/contact">
                            <div class = "nav-menu-item">
                                <p>Others</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </nav>
        <div class="wave-header-section">
            <div class="wave wave1"></div>
        </div>
        <!-- <ul class="nav justify-content-center rho-header">
            <li class="nav-item">
                <a class="nav-link active" href="/">Me</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/work">Works</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contact">Contact</a>
            </li>
        </ul> -->