<!DOCTYPE html>
<html>
    <head>
        <title> Rhosung Park </title>
        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <link href="/style.css" rel="stylesheet" >
    </head>
    <body class="text-center">
        <nav class="navbar" role="navigation" aria-label="main navigation" style="background-color: #3586ff">
            <div class="container">
                <div class="navbar-brand"><a class="navbar-item" href="/"><img src="/assets/images/rhosung-logo-thinner.png" height="30"></a><a class="navbar-burger" role="button" aria-label="menu" aria-expanded="false" data-target="#navMenu"><span aria-hidden="true"></span><span aria-hidden="true"></span><span aria-hidden="true"></span></a></div>
                <div class="navbar-menu" id="navMenu">
                <div class="navbar-start"></div>
                <div class="navbar-end"><a class="navbar-item" href="/work">Works</a>
                    <div class="navbar-item"><a class="button is-primary is-outlined is-rounded" href="/contact">Say Hello</a></div>
                </div>
                </div>
            </div>
        </nav>
        <div class="wave-header-section">
            <div class="wave wave1"></div>
            <!-- <div class="wave wave2"></div> -->
        </div>
        <!-- <ul class="nav justify-content-center rho-header">
            <li class="nav-item">
                <a class="nav-link active" href="/">Me</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/work">Works</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contact">Contact</a>
            </li>
        </ul> -->