<!DOCTYPE html>
<html>
    <head>
        <title> Rhosung Park </title>
        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <link ref="stylesheet" href="style.scss">
    </head>
    <body class="text-center">
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link active" href="/">Me</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about">Works</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contact">Contact</a>
            </li>
        </ul>