<%- include("partials/header"); %>
<%- include("partials/resume"); %>
  
  <div class="page-wrap">

    
      <div style="margin-top:20px" class="container">
        <div id="homepage-image" class="container">
          <img src="/assets/images/rhosung_illust_2.png" height="500" id="face">
          <div class = "click-me">
            <img src="/assets/images/click_me.png" height="200">
          </div>
        </div>
        <div class="spacer"></div>
        
      </div>
    

    <!--<div class="hidden-xs"><div class="work-together" id="contact">LETS WORK TOGETHER</div></div>-->
    <!-- <div class="section" id="contact"><hr></div> -->

    

  </div><!--/.page-wrap-->
<%- include("partials/footer"); %>