<%- include("partials/header") %>
    
    <div class="section" id="about"><h1>About</h1><hr></div> 

    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="well">
            <img src="#" style="height:100%; width:100%">
          </div>
        </div>
        <div class="col-md-8">
          <div class="well">
            <h3>Rhosung Park</h3>
            <p>I'm a recent graduate from Brandeis University with Bachelor's degree in Computer Science and Psychology. I specialize in programming in Java, but I also love to develop web apps using Ruby on Rails as a backend framework, and JavaScript, HTML, CSS as frontend technologies. I have a strong interest in pursuing a career as a frontend developer at this point. </p>
            <p><a href="#form" class="btn btn-default">Hire me</a></p>
          </div>
        </div>
      </div><!--/.row-->
    </div><!--/.container-->

    <div class="section" id="what-i-do"><h1>What I Do</h1><hr></div>

    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="well">
            <h3>Skills</h3>
            <div class="spacer"></div><div class="spacer"></div>
            <div class="row">
              <div class="col-md-4">
                <div class="html"></div> <h4 style="font-weight: 400; display: inline;">HTML5</h4><br>
                <div class="css"></div> <h4 style="font-weight: 400; display: inline;">CSS3</h4><br>
                <div class="php"></div> <h4 style="font-weight: 400; display: inline;">PHP</h4><br>
                <div class="sql"></div> <h4 style="font-weight: 400; display: inline; margin-bottom:5px;">SQL</h4>
              </div>
              <div class="col-md-8">
                <div class="progress">
                  <div class="progress-bar progress-bar-html" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%">
                    <span class="sr-only">HTML5 90%</span>
                  </div>
                </div>
                <div class="progress">
                  <div class="progress-bar progress-bar-css" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%">
                    <span class="sr-only">CSS3 90%</span>
                  </div>
                </div>
                <div class="progress">
                  <div class="progress-bar progress-bar-php" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                    <span class="sr-only">PHP 70%</span>
                  </div>
                </div>
                <div class="progress">
                  <div class="progress-bar progress-bar-sql" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                    <span class="sr-only">SQL 80%</span>
                  </div>
                </div>
              </div><!--/.col-6-->
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="well">
            <h3>I Build Great Websites</h3>
            <p>Being a full stack developer, I can develop any website from a database driven web app to a small static site. Every custom website built uses higher grade techniques and is fast, mobile friendly, scalable.</p>
          </div>
        </div>
      </div><!--/.row-->
    </div><!--/.container-->
    <div class="work visible-lg" style="height:250px !important;">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <h3><i class="fa fa-code"></i>&nbsp; Beautiful Code</h3>
            <p>I write clean, semantic, organized, and valid markup that eliminates excess code and allows others to easily understand and therfore update content in the future.</p>
          </div>
          <div class="col-md-3">
            <h3><i class="fa fa-fighter-jet"></i>&nbsp; Fast</h3>
            <p>I build fast and efficient web sites. Fast websites always attract more visitors, and those visitors are more likely to choose you over the competition. In addition, website speed is essential for <abbr title="Search Engine Optimization">SEO</abbr> &mdash; <a href="http://moz.com/blog/how-website-speed-actually-impacts-search-ranking">faster websites rank higher</a>.</p>
          </div>
          <div class="col-md-3">
            <h3><i class="fa fa-arrows-alt"></i>&nbsp; Responsive</h3>
            <p>Responsive web design means that your website will work on any screen size, from desktops to mobile phones alike. Having a website that works well across all devices and screen sizes means your website has a broader reach, appealing to more visitors.</p>
          </div>
          <div class="col-md-3">
            <h3><i class="fa fa-bolt"></i>&nbsp; Powerful</h3>
            <p>From a static single page website to a full fledged database driven web app, I build websites that give your organization the potential to succeed.</p>
          </div>
        </div><!--/.row-->
      </div><!--/.container-->
    </div><!--/.work-->
    <!--mobile work-->
    <div class="container hidden-lg">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="well">
            <h3><i class="fa fa-code"></i>&nbsp; Beautiful Code</h3>
            <p>I write clean, semantic, organized, and valid markup that eliminates excess code and allows others to easily understand and therfore update content in the future.</p>
          </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="well">
            <h3><i class="fa fa-fighter-jet"></i>&nbsp; Fast</h3>
            <p>I build fast and efficient web sites. Fast websites always attract more visitors, and those visitors are more likely to choose you over the competition. In addition, website speed is essential for <abbr title="Search Engine Optimization">SEO</abbr> &mdash; <a href="http://moz.com/blog/how-website-speed-actually-impacts-search-ranking">faster websites rank higher</a>.</p>
          </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="well">
            <h3><i class="fa fa-arrows-alt"></i>&nbsp; Responsive</h3>
            <p>Responsive web design means that your website will work on any screen size, from desktops to mobile phones alike. Having a website that works well across all devices and screen sizes means your website has a broader reach, appealing to more visitors.</p>
          </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="well">
            <h3><i class="fa fa-bolt"></i>&nbsp; Powerful</h3>
            <p>From a static single page website to a full fledged database driven web app, I build websites that give your organization the potential to succeed.</p>
          </div>
        </div>
      </div><!--/.row-->
    </div><!--/.container and mobile work-->


    <div class="section" id="work"><h1>Recent Work</h1><hr></div>

    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="well">
            <a href="https://cobtransparency.herokuapp.com/"><img src="#" alt="#" height="150px" class="pull-left" style="padding-right: 15px; padding-bottom: 10px; padding-top:20px;"></a>
            <h3>City of Boston Transparency Project</h3>
            <p>A web application that keeps track of City of Boston's data recording IoT devices.</p>
            <div class="spacer"></div><div class="spacer"></div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="well">
            <a href="#"><img src="#" alt="#" height="150px" class="pull-left" style="padding-right: 15px; padding-bottom: 10px; padding-top:20px;"></a>
            <h3>Brandeis Rate My Professor</h3>
            <p>Brandeis Students have access to information they need before choosing which courses to take.</p>
            <div class="spacer"></div><div class="spacer"></div>
          </div>
        </div>
      </div><!--/.row-->
    </div><!--/.container-->

    
<%- include("partials/footer"); %>