<%- include("partials/header") %>
    
    

    <div class="container work-objective">
      <div class="row">
        <div class="col-md-4">
          <div>
            <img src="/assets/images/black_rho.png" style="height:250px">
          </div>
        </div>
        <div class="col-md-8">
          <div style="margin-top:80px">
            <p style="text-align:left;">I'm a recent graduate from Brandeis University with Bachelor's degree in Computer Science and Psychology. I specialize in programming in Java, but I also love to develop web apps using Ruby on Rails as a backend framework, and JavaScript, HTML, CSS as frontend technologies. I have a strong interest in pursuing a career as a frontend developer at this point. </p>
          </div>
        </div>
      </div><!--/.row-->
    </div><!--/.container-->

    <div class = "wave-body-section-1">
        <div class = "wave wave1"></div>
    </div>

    <div class = "work-skills">
      <div class="work-section-title">
        <h3>Skills</h3>
      </div>
      <div class="container">
        
          <div class="row">
            <div class="col-6"> 
              <div class="work-skills-box">
                <div class = "work-skills-box-header">
                  <h5>Languages</h5>
                </div>
                <div class = "work-skills-box-image">
                  <img src="/assets/images/icon_coding.png" height="60px">
                </div>
                <div class = "work-skills-box-content">
                  <p>Java, Ruby, Python, Dart, JavaScript, HTML, CSS, SQL</p>
                </div>
              </div>
            </div>
            <div class="col-6"> 
              <div class="work-skills-box">
                <div class = "work-skills-box-header">
                  <h5>Development</h5>
                </div>
                <div class = "work-skills-box-image">
                  <img src="/assets/images/icon_development.png" height="60px">
                </div>
                <div class = "work-skills-box-content">
                  <p>Linux, React.js, Redux, Bootstrap, Ruby on Rails, Node.js, PostgreSQL, Heroku, Flutter, Firebase</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-6"> 
              <div class="work-skills-box">
                <div class = "work-skills-box-header">
                  <h5>Data Science</h5>
                </div>
                <div class = "work-skills-box-image">
                  <img src="/assets/images/icon_data_science.png" height="60px">
                </div>
                <div class = "work-skills-box-content">
                  <p>SAS, Anaconda, Stata, SPSS, Panda</p>
                </div>
              </div>
            </div>
            <div class="col-6"> 
              <div class="work-skills-box">
                <div class = "work-skills-box-header">
                  <h5>Digital Art</h5>
                </div>
                <div class = "work-skills-box-image">
                  <img src="/assets/images/icon_digital_art.png" height="60px">
                </div>
                <div class = "work-skills-box-content">
                  <p>Blender, Cinema 4D, Photoshop (Adobe Certificate), Illustrator (Adobe Certificate), Premiere Pro, After Effects, Lightroom, Adobe XD</p>
                </div>
              </div>
            </div>
          </div>
        
      </div>
    </div>
    
    <div class = "wave-body-section-2">
        <div class = "wave wave1"></div>
    </div>


    <div class="section work-section-title" id="work">
      <h3>Recent Works</h3>
    </div>
    <div class = "container" style = "padding: 0px 20px 20px 0">
      <div class = "row" style = "overflow:visible">
        <div class = "col-4" style = "overflow:visible">
          <div class="work-detail">
            <a href="https://cobtransparency.herokuapp.com/"><img src="/assets/images/transparency-screenshot.png" alt="#" height="150px" width="100%" class="pull-left" style="border-radius: 10px 10px 0 0;"></a>
            <div class = "work-detail-title"><h5>City of Boston Transparency Project</h5></div>
            <div class = "work-detail-content"><p>A web application that keeps track of City of Boston's data recording IoT devices.</p></div>
            <div class = "work-detail-footer"> 
              <a class= "app-button" href = "https://cobtransparency.herokuapp.com/" ><button class="btn btn-outline-primary">Open App</button></a>
              <a class= "repo-button" href = "https://github.com/pitosalas/CoB_Transparency" ><button class="btn btn-outline-secondary">Visit Repo</button></a>
            </div>
          </div>
        </div>
        <div class = "col-4">
          <div class="work-detail">
            <a href="https://brandeis-rate-my-professor.herokuapp.com/"><img src="/assets/images/brmp-screenshot.png" alt="#" height="150px" width="100%" class="pull-left" style="border-radius: 10px 10px 0 0;"></a>
            <div class = "work-detail-title"><h5>Brandeis Rate My Professor</h5></div>
            <div class = "work-detail-content"><p>Brandeis Students have access to information they need before choosing which courses to take.</p></div>
            <div class = "work-detail-footer">
              <a class= "app-button" href = "https://brandeis-rate-my-professor.herokuapp.com/" ><button class="btn btn-outline-primary">Open App</button></a>
              <a class= "repo-button" href = "https://github.com/dannyphan2910/brandeis-rate-my-professor" ><button class="btn btn-outline-secondary">Visit Repo</button></a>
            </div>
          </div>
        </div>
        <div class = "col-4">
          <div class="work-detail">
            <a href="https://github.com/nossu3751/moim"><img src="/assets/images/moim-screenshot.png" alt="#" height="150px" class="pull-left" width="100%" style="border-radius: 10px 10px 0 0;"></a>
            <div class = "work-detail-title"><h5>Moim College Community Project</h5></div>
            <div class = "work-detail-content"><p>A cross-platform application for college students to share their experience.</p></div>
            <div class = "work-detail-footer"> 
              <a class= "repo-button" href = "https://github.com/nossu3751/moim" ><button class="btn btn-outline-secondary">Visit Repo</button></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    
<%- include("partials/footer"); %>